<!Doctype html>
<html>
<head>
  <meta charset="utf-8">
  <title>Show message</title>
</head>
<body>
  <h2>おすすめ韓国アイドルグループ</h2>
  <table>
      <% for( let row of data ) { %>
        <tr>
            <td><%= row.id %></td>
            <td><a href="groups/<%= row.name %>"><%= row.name %></td>
            <td><%= row.company %></td>
            <td><%= row.date %></td>
            <td><%= row.comment %></td>
        </tr>
      <% } %>
  </table>
</body>
</html>